<!DOCTYPE html>
<html>
<head>
  <title>Blankbox</title>
  <%= favicon_link_tag 'lunch-truck-it-favicon.jpg' %> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="footnotes_holder"></div>

</body>
</html>
